* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    background-color: palegoldenrod;
}

header {
    margin-bottom: 20px;
}

#nav {
    border-bottom: 1px solid brown;
    
}

#nav div ul {
    float: inline-end;
}

#nav ul li {
    float: right;
    margin-right: 100px;
    margin-top: -50px;
}

body{
    margin: 20px;
    
}

#aboutme {
    width: 500px;
    height: 600px;
}

#aboutme p {
    text-align: left;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#Myimage {
    float: right;
    max-height: 600px;
    max-width: 390px;
}

#projects {
    display: flex;
    flex-direction: row;
}
  .projects {
    
    width: 240px;
    height: 200px;
    border: 1px solid maroon;
    text-align: center;
    margin: 10px;
  }

  
#skills img {
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
    margin: 20px;
}

#contact img {
    max-width: 75px;
    max-height: 75px;
    display: inline-block;
    margin: 10px;
}

footer {
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid brown;
}
